#include "Arduino.h"

// Setup
#define WIFI_SSID ""
#define WIFI_PASS ""
#define WIFI_HOSTNAME "arduino-weather-station"

// OpenWeatherMap Settings
// Sign up here to get an API key: https://openweathermap.org/
String OPEN_WEATHER_MAP_APP_ID = "";

/*
Go to https://openweathermap.org/find?q= and search for a location.
 */
float OPEN_WEATHER_MAP_LOCATTION_LAT = ;
float OPEN_WEATHER_MAP_LOCATTION_LON = ;
String DISPLAYED_CITY_NAME = "";